@use"../../styles/mixins" as mixins;

.profile-sidebar {
  @include mixins.sidebar;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  height: 100%;
  padding-top: 60px;
}
