<main class="page page_type_sidebar">
    <div class="profile-sidebar">
        {{> BackButton navigate=back}}
    </div>
    <div class="profile-main">
        {{> Avatar size='s' src='/user.jpg' edit='true'}}
        {{> @partial-block}}
    </div>
</main>
