@use "../../../styles/variables" as vars;

.message-list {
  padding: 20px 0;
  border-top: 1px solid vars.$border-color;
  border-bottom: 1px solid vars.$border-color;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-content: start;
  justify-items: left;
  overflow-y: scroll;
}
