{{#> Popup}}
    <div class="avatar-edit-popup">
        <p class="avatar-edit-popup__text">
            Upload new image
        </p>
        {{> Button text='Select file' type='button' view='secondary'}}
        {{> Button text='Upload' type='button' view='primary'}}
    </div>
{{/Popup}}