@use "../../styles/variables" as vars;

.avatar-edit-popup {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;

  &__text {
    font-size: 0.9365rem;
    line-height: 1.25rem;
  }

  &__select-input {
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    background: none;
    color: vars.$primary-color;
    cursor: pointer;
  }

  &__native-input {
    display: none;
  }
}

