{{#> ProfilePageLayout back='/profile' }}
    <div class="fields-container">
        <div class="fields-container__side-wrapper">
            <span class="fields-container__field-name">Current password</span>
            <span class="fields-container__field-name">New password</span>
            <span class="fields-container__field-name">Repeat new password</span>
        </div>
        <div class="fields-container__side-wrapper">
            {{> Input placeholder='Enter current password' name='email' type='password'}}
            {{> Input placeholder='Enter new password' name='login' type='password'}}
            {{> Input placeholder='Repeat new password' name='password' type='password'}}
        </div>
    </div>
    <div class="buttons-container">
        {{> Button text='Save' type='button' navigate='/error' view='primary'}}
    </div>
{{/ProfilePageLayout}}