{{#> ProfilePageLayout back='/profile' }}
    <form class="profile-form" data-navigate="/error">
        <div class="fields-container">
            <div class="fields-container__side-wrapper">
                <span class="fields-container__field-name">Current password</span>
                <span class="fields-container__field-name">New password</span>
                <span class="fields-container__field-name">Repeat new password</span>
            </div>
            <div class="fields-container__side-wrapper">
                {{> Input placeholder='Enter current password' name='current_password' type='password'}}
                {{> Input placeholder='Enter new password' name='password' type='password'}}
                {{> Input placeholder='Repeat new password' name='repeat_password' type='password'}}
            </div>
        </div>
        <div class="buttons-container">
            {{> Button text='Save' type='submit' view='primary'}}
        </div>
    </form>
{{/ProfilePageLayout}}
