@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.popup {
  position: fixed;
  inset: 0;
  @include mixins.flex-center;

  &_hidden {
    visibility: hidden;
  }

  &__content {
    min-width: 340px;
    width: max-content;
    background-color: vars.$text-color-revert;
    border-radius: 12px;
    z-index: 1;
    padding: 40px 30px;
  }
}
