@use "mixins" as mixins;
@use "variables" as vars;

@font-face {
  font-family: "Inter";
  src:  url("src/assets/fonts/Inter.ttf") format("truetype-variations");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.page {
  width: 100svw;
  min-height: 100svh;
  color: vars.$text-color-main;
  @include mixins.flex-center;

  &_type_sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
}
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}
