@use "mixins" as mixins;
@use "variables" as vars;

@font-face {
  font-family: Inter;
  src:  url("src/assets/fonts/Inter.ttf") format("truetype-variations");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.page {
  width: 100%;
  min-height: 100%;
  color: vars.$text-color-main;

  @include mixins.flex-center;

  &_type_sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
}
}

#app {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.spinner {
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: vars.$primary-color;
  border-top-color: vars.$primary-color;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
