$primary-color: #3369F3;
$secondary-color: #EFEFEF;
$background-side-color: #FBFBFB;
$text-color-main: #1E1E1E;
$text-color-pale: #999;
$text-color-error: #FF2F2F;
$text-color-revert: #FFF;
$text-color-danger: #F00;
$border-color: #EAEAEA;
$background-active: #E4EDFD;
$background-color: #FFF;
$shadow-color: #00000024;
