$primary-color: #3369F3;
$secondary-color: #EFEFEF;
$background-side-color: #FBFBFB;
$text-color-main: #1E1E1E;
$text-color-pale: #999999;
$text-color-error: #FF2F2F;
$text-color-revert: #FFFFFF;
$text-color-danger: #FF0000;
$border-color: #EAEAEA;
$background-active: #E4EDFD;
