{{#> ProfilePageLayout back='/profile' }}
    {{> ProfileFieldsContainer }}
    <div class="buttons-container">
        {{> Button text='Save' type='button' navigate='/error' view='primary'}}
    </div>
{{/ProfilePageLayout}}
