<div class="avatar-wrapper avatar-wrapper_size_{{size}} {{#if edit}}avatar-wrapper_type_edit{{/if}}">
    {{#if edit}}
        <button class="avatar-wrapper__button">
            <img class="avatar" src={{src}} alt='avatar.'/>
        </button>
        <div class="avatar-wrapper_overlay" id="change-avatar">Поменять аватар</div>
    {{else}}
        <img class="avatar" src={{src}} alt='avatar.'/>
    {{/if}}
</div>