<div class="fields-container">
    <div class="fields-container__side-wrapper">
        <span class="fields-container__field-name">Email</span>
        <span class="fields-container__field-name">Login</span>
        <span class="fields-container__field-name">First name</span>
        <span class="fields-container__field-name">Second name</span>
        <span class="fields-container__field-name">Nickname</span>
        <span class="fields-container__field-name">Phone</span>
    </div>
    <div class="fields-container__side-wrapper">
        {{> Input placeholder='Enter email' name='email' type='text' disabled=disabled value='pochta@yandex.ru'}}
        {{> Input placeholder='Enter login' name='login' type='text' disabled=disabled value='ivanivanov'}}
        {{> Input placeholder='Enter first name' name='first_name' disabled=disabled type='text' value='Иван'}}
        {{> Input placeholder='Enter second name' name='second_name' disabled=disabled type='text' value='Иванов'}}
        {{> Input placeholder='Enter nickname' name='nickname' disabled=disabled type='text' value='Ваня'}}
        {{> Input placeholder='Enter phone' name='phone' disabled=disabled type='text' value='+7(909)967-30-30'}}
    </div>
</div>
