.fields-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 510px;
  gap: 10px;

  &__side-wrapper {
    height: 100%;
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
    align-items: center;
  }

  &__field-name {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
  }
}
